---
interface FAQItem {
  question: string;
  answer: string;
  isOpen?: boolean;
}

import FAQAccordion from "./FAQAccordion.jsx";

const { questionsAndAnswers = [] } = Astro.props;
---

<section id="faq" class="py-10 flex flex-col gap-10">
  <span class="font-extrabold text-6xl text-center w-full inline-block">
    FAQ
  </span>
  <div>
    <div class="w-[50rem] m-w-[860px] m-auto flex flex-col gap-4">
      <FAQAccordion client:load items={questionsAndAnswers} />
    </div>
  </div>
</section>
