---
import ScrollUpButton from './ScrollUpButton.tsx'
---

<footer class="h-[400px] w-full flex flex-col items-center justify-center">
  <ScrollUpButton client:load />
  <ul class="flex flex-row gap-5 text-[20px] font-semibold items-center">
    <li>Features</li>
    <li>FAQ</li>
    <li>Blog</li>
  </ul>
</footer>
