.marquee-vertical-container {
  position: relative;
  height: 808px;
  overflow: hidden;
}

.marquee-vertical-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation-name: marquee-vertical-scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  will-change: transform;
}

.marquee-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.marquee-vertical-content.paused {
  animation-play-state: paused;
}

@keyframes marquee-vertical-scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee-vertical-content {
    animation: none;
  }
}

.parent-fade-mask {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 876px) {

  .child-fade-mask {
    mask-image: linear-gradient(to bottom,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%);
  }
}